/** ---------- Global ---------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: NasaFont;
  src: url(../fonts/nasalization-rg.ttf);
}

@font-face {
  font-family: ProductFontRegular;
  src: url(../fonts/product_sans_regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  background: hsl(0, 0%, 90%);
}

body::-webkit-scrollbar {
  background: transparent;
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  outline: 1px solid slategrey;
  border-radius: 2rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/** ---------- Navigation ---------- */
nav {
  position: sticky;
  top: 0;
  z-index: 99;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 4vw;
  background: hsl(0, 0%, 90%);
  width: 100%;
  height: 5rem;
  margin-top: 1.5rem;
}

nav li {
  background: hsl(0, 0%, 90%);
  border-radius: 40px;
  border: 1px solid hsla(0, 0%, 85%, 0.15);
  box-shadow: 4px 4px 10px 0 #bdbdbd, -6px -6px 14px 0 #ffffff;
}

nav li:active {
  box-shadow: inset 4px 4px 10px 0 #bdbdbd, inset -6px -6px 14px 0 #ffffff;
}

nav li a {
  display: block;
  padding: 0.8rem 1.5rem;
  font-family: NasaFont;
  text-decoration: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, 0.8);
}

nav li a:active {
  color: rgb(90, 185, 234);
}

/** ---------- Main ---------- */
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5vw;
  padding: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: hsl(0, 0%, 90%);
  padding: 1.8rem;
  border-radius: 40px;
  border: 1px solid hsla(0, 0%, 85%, 0.15);
  box-shadow: 6px 6px 14px 0 #bdbdbd, -8px -8px 18px 0 #ffffff;
  transition: transform 0.5s ease-out;
}

.day3:hover {
  transform: rotate(-4deg);
}

.card:hover,
nav li:hover {
  background: linear-gradient(145deg, hsl(0, 0%, 85%), #eeeeee);
  border: 1px solid hsla(0, 0%, 85%, 0.15);
}

.card-title {
  display: flex;
  font-family: NasaFont;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 0%, 0.8);
}

.card-title p {
  font-size: 1.17rem;
  font-weight: bold;
}

.card,
mark {
  color: hsla(0, 0%, 0%, 0.7);
}

.card a {
  opacity: 0.55;
}

.card a:hover {
  opacity: 0.85;
}

mark {
  background: #f5f5f5;
}

.card ul {
  /* list-style-position: inside; */
  list-style-type: square;
  margin-left: 1rem;
  font-family: ProductFontRegular;
}

.card-image {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-top: 1rem;
  align-self: center;
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1.04);
  opacity: 0.8;
}

/** - - - - - Day 8 Animation  - - - - - */
.card-animation {
  position: relative;
  margin-top: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 63%;
  background: #eeeced;
}

.circle-animation {
  position: relative;
  background: #cdcdcd;
  max-width: 5vw;
  height: 5vw;
  border-radius: 50%;
  animation: 3s linear 0.5s infinite normal both jumping-circle;
}

@keyframes jumping-circle {
  0% {
    top: calc(50% - 2.5vw);
    left: 0;
  }
  25% {
    top: calc(100% - 5vw);
    left: calc(50% - 2.5vw);
  }
  50% {
    top: calc(50% - 2.5vw);
    left: calc(100% - 5vw);
  }
  75% {
    top: 0;
    left: calc(50% - 2.5vw);
  }
  100% {
    top: calc(50% - 2.5vw);
    left: 0;
  }
}

/** - - - - - Day 9 Animation  - - - - - */
.newton-cradle {
  display: flex;
  flex: 1;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.newton-cradle-top {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #cdcdcd;
  width: 80%;
  height: 4%;
  border-radius: 50px;
  z-index: 3;
}

.ball {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #cdcdcd;
  top: 180px;
  transform-origin: 50% -400%;
}

.ball::before {
  position: absolute;
  content: '';
  width: 3px;
  height: 150px;
  top: -150px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fffeff;
}

.ball:nth-child(2) {
  animation: 1s ease-in infinite alternate first-ball;
}

@keyframes first-ball {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.ball:last-child {
  animation: 1s ease-out infinite alternate last-ball;
}

@keyframes last-ball {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}

/* @keyframes jumping-circle {
  0% {
    top: calc(50% - 2.5vw);
    left: 0;
  }
  25% {
    top: calc(100% - 5vw);
    left: calc(50% - 2.5vw);
  }
  50% {
    top: calc(50% - 2.5vw);
    left: calc(100% - 5vw);
  }
  75% {
    top: 0;
    left: calc(50% - 2.5vw);
  }
  100% {
    top: calc(50% - 2.5vw);
    left: 0;
  }
} */

/** ---------- Responsive ---------- */
@media (max-width: 1030px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 8rem;
    gap: 0.09rem;
    padding: 0.3rem 0 0.3rem;
  }

  nav li {
    flex: 0 45%;
    text-align: center;
  }

  nav li a {
    padding: 0.5rem 1rem;
  }

  .card {
    padding: 6%;
  }
}

@media (max-width: 650px) {
  section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4vw;
    padding: 4vw;
  }
  .card-animation {
    height: 40vw;
  }
}

@media (max-width: 550px) {
  .card {
    padding: 5%;
  }
}

@media (max-width: 450px) {
  section {
    padding: 1.2rem;
  }

  nav ul {
    margin-top: 1.2rem;
  }
}

/* @media (max-width: 450px) {
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 14rem;
    gap: unset;
  }
  
  nav li {
    flex: 0 95%;
    text-align: center;
  }
} */
